/* common share styles */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text-orange {
    color: rgb(244, 114, 0);
}

.btn-primary {
    color: white;
    background-color: rgb(247, 97, 42);
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
}



/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.header {
    background-color: rgb(255, 248, 236);
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .profile-picture {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    color: #474747;
    margin-top: 5px;
}

.banner-content {
    max-width: 500px;
}




/* about me section start*/

.about-me {

    margin: 100px 250px 100px 250px;
    padding: 120px 150px;
    background-color: rgb(255, 243, 243);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 10px;

}

.details {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(232, 254, 255);
    box-shadow: 0px 0px 15px 0px;
}

.about-me-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;


}

.about-me-common-details {
    text-align: left;
}



/* what i do sections starts */
.what-i-do {

    margin: 100px 250px;
    padding: 100px;
    background-color: aliceblue;
    border-radius: 10px;

}

.what-i-do-title {
    text-align: center;
}

.what-i-do-cover {
    display: flex;
    gap: 50px;
}

.what-i-do-common-cover {

    padding: 30px;
    background-color: rgb(250, 252, 241);
    border-radius: 10px;
    box-shadow: 1px 1px 10px;

}

.what-i-do p {
    text-align: justify;
    font-weight: 400;
}


/* resume detailss */
.resume-header {
    text-align: center;
    font-size: 1.3rem;
    color: rgb(4, 4, 87);
}

.resume-info {
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 249, 255);
    margin: 0px 250px 20px 250px;
    padding: 50px;
    justify-content: space-between;
}

.education {
    border-radius: 5px;
    padding: 20px;
    background-color: aliceblue;
}

.experience {
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(255, 255, 247);
}

.cv-button {
    display: flex;
    justify-content: center;
}

/* footer start */

.footer-section {
    background-color: #FFF8F3;
    padding: 100px 250px;
    margin-top: 100px;


}

.footer-section-info {
    display: flex;
    justify-content: space-between;

}



.icon {
    display: flex;
    gap: 0px 20px;
    color: rgb(253, 121, 73);
    font-size: 30px;
}



.box-design {
    width: 200px;
    height: 30px;
}

.message-box-design {
    width: 200px;
    height: 120px;
}